.imatge-fons {
  height: 200px; /* o qualsevol altra alçada */
  width: 100%;
  background-size: cover; /* Ajusta la mida de la imatge per omplir l'element */
  background-position: center center; /* Centra la imatge */
  background-repeat: no-repeat; /* Evita que la imatge es repeteixi */
}