div.titolMemoImg{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}
h1,h2, ion-toggle {
    text-align: center;
}
p{padding: 0 1em 1em 1em;}