<p>memodetalls works!</p>
 <article>
      <img
        class="listing-photo"
        [src]="memoInfo?.photo"
        alt="Exterior photo of {{ memoInfo?.name }}"
        crossorigin
      />
      <section class="listing-description">
        <h2 class="listing-heading">{{ memoInfo?.name }}</h2>
        <p class="listing-location">{{ memoInfo?.city }}, {{ memoInfo?.state }}</p>
      </section>
      <section class="listing-features">
        <h2 class="section-heading">About this housing location</h2>
        <ul>
          <li>Units available: {{ memoInfo?.availableUnits }}</li>
          <li>Does this location have wifi: {{ memoInfo?.wifi }}</li>
          <li>Does this location have laundry: {{ memoInfo?.laundry }}</li>
        </ul>
      </section>
    </article>