<ion-picker>
  <ion-picker-column value="red">
    <ion-picker-column-option value="red" disabled="true">-2 players-</ion-picker-column-option>
    <ion-picker-column-option value="blue">-classic game-</ion-picker-column-option>
    <ion-picker-column-option value="tempsendarrera">-temps enderrera-</ion-picker-column-option>
    <ion-picker-column-option value="random">-random-</ion-picker-column-option>
    <ion-picker-column-option value="c#">-C#-</ion-picker-column-option>
  </ion-picker-column>
</ion-picker>